body    {text-align: center;background-color: rgb(167, 114, 95);color: rgb(2, 2, 59);}
.arth   {background-color: rgb(231, 202, 128);display: block;width: fit-content;margin-left: 30%;
         padding: 10px 10px 10px 10px;}
.chng   {line-height: 2.0;margin-right:auto;margin-left: auto;}
